<button
  (click)="onClick.emit($event)"
  [ngClass]="classes"
  [type]="type"
  [attr.aria-disabled]='disabled || inProgress'
>
  <span
    *ngIf="inProgress"
    class="spinner-border spinner-border-sm me-1"
    role="status"
    aria-hidden="true"
  ></span>
  <span
    *ngIf="iconLeft"
    [ngClass]="{
      'material-symbols-rounded': true,
      'icon-sm': size === 'sm',
      'icon-lg': size === 'lg',
      'me-1': label.length > 0
    }"
    aria-hidden="true"
  >{{iconLeft}}</span>
  <span>{{label}}</span>
</button>
