<div class="container-xxl">
  <h1>Storybook Code Connect Test</h1>
  <h2>Icon Component</h2>
  <ul class="list-unstyled">
    <li><icon name="search" size="sm" /> Small</li>
    <li><icon name="search" />Default</li>
    <li><icon name="search" size="lg" />Large</li>
  </ul>
  <h2>Button Component</h2>
  <div class="d-grid gap-3 d-md-flex">
    <button
      bs-button
      label="Component Button 01"
      icon="add"
    ></button>
    <button bs-button label="Component Button 02"></button>
  </div>
</div>
